# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas library**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal**

In [ ]:
sal = pd.read_csv('Salaries.csv')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40804,40805,Kevin Kelly,Firefighter,110847.13,5247.64,20150.94,37116.93,136245.71,173362.64,2012.0,NaN,San Francisco,NaN
40805,40806,Christopher Spear,Firefighter,110847.11,9859.22,14565.76,38081.51,135272.09,173353.60,2012.0,NaN,San Francisco,NaN
40806,40807,Jane Drobot,Registered Nurse,122769.32,0.00,5966.17,44589.71,128735.49,173325.20,2012.0,NaN,San Francisco,NaN
40807,40808,Sally Foster,Police Officer 2,114887.51,19375.96,3120.81,35937.47,137384.28,173321.75,2012.0,NaN,San Francisco,NaN
40808,40809,Jovita Quilaquil,Registered Nurse,105272.69,8413.51,18760.26,40870.55,132446.46,NaN,NaN,NaN,NaN,NaN

**Check the head of the DataFrame.**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are in each field.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [2]:
import pandas as pd
df = pd.read_csv('Salaries.csv')

new_df = df.dropna()

new_df['BasePay'].mean()

FileNotFoundError: ignored

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
df = pd.read_csv('Salaries.csv')
df_new = df.dropna()
df_new['OvertimePay'].max()

NameError: ignored

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [3]:
df.loc[3,'EmployeeName']

NameError: ignored

**How much does JOSEPH DRISCOLL make (including benefits)?**

**What is the name of highest paid person (including benefits)?**

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

**How many unique job titles are there?**

**What are the top 5 most common jobs?**

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

**How many people have the word Chief in their job title?**

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

# **Great Job!**